Flask==0.10.1
Flask-Admin==1.0.6
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.1
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.2
WTForms==1.0.4
Werkzeug==0.9.2
itsdangerous==0.22
py==1.4.15
pytest==2.3.5
wsgiref==0.1.2
