Flask-Admin>=1.0.6
Flask-SQLAlchemy>=1.0
Flask-WTF>=0.9.1
Flask>=0.10.1
Jinja2>=2.7.1
SQLAlchemy>=0.8.2
WTForms>=1.0.4
Werkzeug>=0.9.3
itsdangerous>=0.23
markupsafe>=0.18
setuptools>=1.0
uritemplate>=0.5.2
