{% extends "base.html" %}
{% block content %}

<div class="col-md-8">
{% if resources %}
<h2>{{  resources_name }}</h2>
<table class="table table-condensed table-striped">
    <thead>
        {% for name in resources[0].keys() %}
        <th>{{ name }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for resource in resources %}
        <tr>
            {% for attribute, value in resource.items() %}
                {% if attribute == 'links' %}
                    <td><ul>
                    {% for link in value %}
                        <li><a href="{{ link['uri'] }}">{{ link['rel'] }}</a></li>
                    {% endfor %}
                    </ul></td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
             {% endfor %}

	</tr>
     {% endfor %}
</table>
{% else %}
<h2>Empty collection</h2>
{% endif %}
{% endblock content%}
