{% extends "base.html" %}
{% block content %}

<div class="col-md-8">
<h2>{% for tablename, table in resources[0]._asdict().items() %} {{ tablename + " > " }} {% endfor %}</h2>
<table class="table table-bordered table-hover">
<thead>	
<tr>
{% for tablename, table in resources[0]._asdict().items() %}
{% for attribute, value in table.as_dict().items() %}
<th>{{ attribute }}</th>
{% endfor %}
{% endfor %}
</tr>
</thead>
<tbody>
{% for resource in resources %}
<tr>
{% for tablename, table in resource._asdict().items() %}
{% for attribute, value in table.as_dict().items() %}
  {% if attribute == 'links' %}
    <td><ul>
    {% for link in value %}
      <li>{{ attribute }}: <a href="{{ value[0].uri }}">{{ value[0].rel }}</a></li>
    {% endfor %}
    </ul></td>
  {% else %}
    <td>{{ value }}</td>
  {% endif %}
{% endfor %}     
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock content%}
