{% extends "base.html" %}
{% block body %}

<h3>{{ tablename }}</h3>
<h4>{{ resource.pk }}</h4>
    <ul>
        {% for attribute, value in resource.attributes.items() %}
            {% if attribute == 'links' %}
            <li>Links<ul>
                {% for link in value %}
                    <li>{{link.rel}}: <a href="{{ link.uri }}">{{ link.uri }}</a></li>
                {% endfor %}
            </ul></li>
            {% else %}
                <li>{{ attribute }}: {{ value }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
