{% macro list_resources(resources) %}
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Export to PDF / Excel</h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <table id="datatable_tabletools" class="table table-striped table-hover" width="100%">
                    <thead>
                    {% for attribute in resources[0].__table__.columns.keys() %}
                        <th>{{ attribute }}</th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for resource in resources %}
                        <tr>
                            {% for attribute in resource.__table__.columns.keys() %}
                                <td>{{ resource|attr(attribute) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
        </div>
    </div>
</div>
{% endmacro %}
